body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 20px 40px 0;
    text-align: center;
    background-color: #0C1021;
}

.stopwatch {
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #3c3f41;
    color: #b7bfc6;
    font-size: 30px;
}

.name {
    margin: 15px;
}

.stopwatch button {
    padding: 10px 15px;
    border: 4px solid #0C1021;
    border-radius: 50%;
    background-color: #212121;
    color: #8f979e;
    outline: none;
    cursor: pointer;
}

.stopwatch button[data-type="start"] {
    width: 148px;
}

.stopwatch button:hover {
    color: #b7bfc6;
    background: #4f4f4f;
    border-color: #1c2148;
}

.stopwatch button:hover:active {
    box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.7);
}

.stopwatch > ul {
    list-style: none;
    max-height: 85px;
    overflow-y: scroll;
}

.stopwatch > ul::-webkit-scrollbar {
    background-color: transparent;
}

.time {
    margin: 20px;
}

#stopwatch- {
    display: none;
}

#maker.uniq {
    position: relative;
    margin: 20vh auto auto;
    text-transform: uppercase;
}

#maker.used {
    display: block;
    position: absolute;
    bottom: 60px;
    right: 60px;
}

#maker.uniq > input {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 80px;
    transform: translate(-50%);
}

#maker.used > input {
    position: absolute;
    max-width: 100%;
    top: 54px;
    left: 50%;
    transform: translate(-50%);
}

#maker.uniq > button {
    width: 300px;
    height: 300px;
    border: 4px solid #8f979e;
    border-radius: 50%;
    background-color: #3c3f41;
    color: #b7bfc6;
    outline: none;
    font-size: 80px;
    cursor: pointer;
}

#maker.uniq:hover > button {
    border-color: #c0cbd3;
    background-color: #202123;
    color: #cad4db;
}

#maker.used > button {
    width: 80px;
    height: 80px;
    font-size: 23px;
    background-color: #a2a2a2;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
    outline: none;
    text-transform: uppercase;
}

#maker.used:hover > button {
    background-color: #dddddd;
    color: #565656;
}

#maker.used:active > button {
    background-color: #c7c7c7;
    box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.7);
}

/*
.uniq,
.used {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.uniq > button,
.used > button {
    background-color: transparent;
    border: none;
    color: inherit;
}*/
