body {
    background-color: #404348;
    color: #aab3ba;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    margin: 20px auto;
    padding: 10px;
    width: 450px;
    height: auto;
    border: 1px solid #909090;
    text-align: center;
}

.wrap-b, .form-js{
    display: flex;
    flex-wrap: wrap;
}

.form-js {
    flex-direction: column;
}

.wrap-b {
    justify-content: space-around;
    align-content: space-around;
    height: 80px;
    width: 200px;
}

.btn {
    width: 92px;
}

.btn_add {
    order: 1;
}
.btn__get-all {
    order: 2;
}
.btn__get {
    order: 3;
}
.btn__edit {
    order: 4;
}
.btn__del {
    order: 5;
}

table, thead th, tbody td {
    border: 1px solid #909090;
}

table {
    margin: 10px auto;
}

input {
    margin: 0 0 5px;
    background-color: #54585d;
    color: #ededed;
}

button {
    background-color: #54585d;
    color: #ededed;
}

input::placeholder {
    padding-left: 5px;
    color: #949da4;
}

h2 {
    margin: 10px;

}

.id {
    min-width: 200px;
}

.name {
    min-width: 130px;
}

.name::first-letter {
    text-transform: uppercase;
}
.age {
    min-width: 80px;
}

/*.table {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}*/

.status {
    min-width: 200px;
    margin: 0;
}

/*
Filin	54
Aista	49
Samuel	37
Legolas	128
Fiord	77
Neko	4
Solomon	12
Solly	14
Lusy	32
Fiona	16
Falcrit	512
Kelimvor	34
Alisher	28
Lafalgar	36
Seluna	12584
Grog	33
Luciel	42*/
